[Desktop Entry]
Name=Research Paper Manager
Exec=/home/singularis/.local/share/Singularis/third-party-tools/instant-reference/paper-manager-protocol.js %u
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/paper;
